body {
    margin: 0; 
    padding: 0;
}
.rotate-button {
    color: #fafafa;
    background-color: #a73fc7;
    border: none;
    font-size: 2rem;
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}
.rotate-button:hover {
    cursor: pointer;
    background-color:rgb(106, 28, 129); 
}